@charset "UTF-8";

header .gnb-nav {
	position: absolute;
	top: 27px;
	right: 15px
}

header .gnb-nav .menu-top {
	float: left;
	margin: 1px 30px 0 0
}

header .gnb-nav .menu-top li {
	display: inline-block;
	margin-left: 20px
}

header .gnb-nav .menu-top li a {
	
	font-weight: bold;
	font-size: 18px;
	color: #000;
	letter-spacing: 0;
	color: rgba(0, 0, 0, .5);
	text-decoration:none;
}

